In [ ]:
!pip install yahoo_fin

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoo_fin
  Downloading yahoo_fin-0.8.9.1-py3-none-any.whl (10 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from yahoo_fin) (1.4.4)
Collecting requests-html
  Downloading requests_html-0.10.0-py3-none-any.whl (13 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from yahoo_fin) (2.27.1)
Collecting feedparser
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.1/81.1 KB 7.1 MB/s eta 0:00:00
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas->yahoo_fin) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->yahoo_fin) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->yahoo_fin) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->yahoo_fin) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->yahoo_fin) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->yahoo_fin) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->yahoo_fin) (2.0.12)
Collecting parse
  Downloading parse-1.19.0.tar.gz (30 kB)
  Preparing metadata (setup.py) ... done
Collecting fake-useragent
  Downloading fake_useragent-1.1.3-py3-none-any.whl (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.5/50.5 KB 6.2 MB/s eta 0:00:00
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting pyquery
  Downloading pyquery-2.0.0-py3-none-any.whl (22 kB)
Collecting w3lib
  Downloading w3lib-2.1.1-py3-none-any.whl (21 kB)
Collecting pyppeteer>=0.0.14
  Downloading pyppeteer-1.0.2-py3-none-any.whl (83 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 83.4/83.4 KB 12.1 MB/s eta 0:00:00
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.9/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (6.1.0)
Collecting websockets<11.0,>=10.0
  Downloading websockets-10.4-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 106.5/106.5 KB 15.5 MB/s eta 0:00:00
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.9/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.65.0)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.9/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->yahoo_fin) (1.16.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from bs4->requests-html->yahoo_fin) (4.11.2)
Requirement already satisfied: importlib-resources>=5.0 in /usr/local/lib/python3.9/dist-packages (from fake-useragent->requests-html->yahoo_fin) (5.12.0)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.9/dist-packages (from pyquery->requests-html->yahoo_fin) (4.9.2)
Collecting cssselect>=1.2.0
  Downloading cssselect-1.2.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.15.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->bs4->requests-html->yahoo_fin) (2.4)
Building wheels for collected packages: bs4, parse, sgmllib3k
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1270 sha256=6078ed5715ba55fb819dc6e982fe2cd32009957714ee38c327ac835783e5a1f2
  Stored in directory: /root/.cache/pip/wheels/73/2b/cb/099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
  Building wheel for parse (setup.py) ... done
  Created wheel for parse: filename=parse-1.19.0-py3-none-any.whl size=24589 sha256=d718789fd419bc0afb4cb4f5c0fc4280a555c73739721f2259c3601eb467cb11
  Stored in directory: /root/.cache/pip/wheels/d6/9c/58/ee3ba36897e890f3ad81e9b730791a153fce20caa4a8a474df
  Building wheel for sgmllib3k (setup.py) ... done
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6065 sha256=27b99dec7176590ac299fd74ccbd09709e7cd855e460d3545241fe967d17338e
  Stored in directory: /root/.cache/pip/wheels/65/7a/a7/78c287f64e401255dff4c13fdbc672fed5efbfd21c530114e1
Successfully built bs4 parse sgmllib3k
Installing collected packages: sgmllib3k, pyee, parse, websockets, w3lib, feedparser, cssselect, pyquery, pyppeteer, fake-useragent, bs4, requests-html, yahoo_fin
Successfully installed bs4-0.0.1 cssselect-1.2.0 fake-useragent-1.1.3 feedparser-6.0.10 parse-1.19.0 pyee-8.2.2 pyppeteer-1.0.2 pyquery-2.0.0 requests-html-0.10.0 sgmllib3k-1.0.0 w3lib-2.1.1 websockets-10.4 yahoo_fin-0.8.9.1

In [ ]:
import yahoo_fin.stock_info as yh

In [ ]:
response = yh.get_day_gainers()

In [ ]:
response

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,BUR,Burford Capital Limited,11.06,3.84,53.19,16294000.0,657719.0,2.422000e+09,276.50
1,KPELY,Keppel Corporation Limited,8.45,1.63,23.89,24137.0,3725.0,7.455000e+09,12.07
2,SYRVF,"Sacyr, S.A.",2.72,0.52,23.64,15857.0,255.0,2.058000e+09,NaN
3,AI,"C3.ai, Inc.",33.57,5.94,21.50,61732000.0,19890000.0,3.767000e+09,NaN
4,PACB,"Pacific Biosciences of California, Inc.",11.58,1.82,18.65,11756000.0,4382000.0,2.861000e+09,NaN
...,...,...,...,...,...,...,...,...,...
95,EXTR,"Extreme Networks, Inc.",19.12,0.90,4.94,2214000.0,1405000.0,2.470000e+09,49.03
96,APPN,Appian Corporation,44.38,2.07,4.89,364864.0,389291.0,3.232000e+09,NaN
97,SHZHY,Shenzhou International Group Holdings Limited,10.34,0.48,4.87,19228.0,32027.0,1.577900e+10,30.41
98,DUOL,"Duolingo, Inc.",142.59,6.58,4.84,975067.0,596725.0,5.794000e+09,NaN
99,NEP,"NextEra Energy Partners, LP",60.75,2.80,4.83,2841000.0,786232.0,5.401000e+09,10.31

In [ ]:
msft_data = yh.get_data('msft')
msft_data

,open,high,low,close,adjclose,volume,ticker
1986-03-13,0.088542,0.101563,0.088542,0.097222,0.060657,1031788800,MSFT
1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062823,308160000,MSFT
1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063906,133171200,MSFT
1986-03-18,0.102431,0.103299,0.098958,0.099826,0.062281,67766400,MSFT
1986-03-19,0.099826,0.100694,0.097222,0.098090,0.061198,47894400,MSFT
...,...,...,...,...,...,...,...
2023-03-27,280.500000,281.459991,275.519989,276.380005,276.380005,26840200,MSFT
2023-03-28,275.790009,276.140015,272.049988,275.230011,275.230011,21878600,MSFT
2023-03-29,278.959991,281.140015,278.410004,280.510010,280.510010,25087000,MSFT
2023-03-30,284.230011,284.459991,281.480011,284.049988,284.049988,25053400,MSFT
2023-03-31,283.730011,289.269989,283.000000,288.299988,288.299988,32740300,MSFT