**2. Zbiór chipotle - kto zapłacił najwięcej?**

Wczytaj zbiór chipotle i dodaj kolumne price_dollars, zawierającą cenę w dolarach. Następnie sprawdź, które z zamówień opiewało na najwyższą kwotę (wykorzystaj w tym celu grupowanie i wybraną agregację). Podaj jego indeks (order_id) oraz wartość zamówienia

In [ ]:
import pandas as pd

In [ ]:
zmienna = 'slowo'

In [ ]:
zmienna

'slowo'

In [ ]:
zmienna[1:]

'lowo'

In [ ]:
chipotle = pd.read_csv('/content/chipotle.tsv', sep='\t')
chipotle.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
dolarizer = lambda x: float(x[1:])
chipotle['price_dollars'] = chipotle.item_price.apply(dolarizer)

In [ ]:
chipotle['price_dollars'] = chipotle.item_price.apply(dolarizer)

In [ ]:
price_summed = chipotle.groupby('order_id').price_dollars.sum()

In [ ]:
print(f'Order {price_summed.idxmax()}: {price_summed.max()}')

Order 926: 205.25

In [ ]:
chipotle

,order_id,quantity,item_name,choice_description,item_price,price_dollars
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75