**3. Łączenie DataFrames**

Wczytaj zbiory danych rating.csv oraz parking.csv. Spróbuj połączyć je wykorzystując metodę merge. Pamiętaj o odpowiedniej nazwie kol

In [ ]:
import pandas as pd

In [ ]:
rating = pd.read_csv('/content/rating.csv')
rating.sample(5)

     userID  placeID  rating  food_rating  service_rating
1110  U1013   132951       2            2               2
181   U1055   132754       2            2               2
254   U1134   135059       2            1               0
963   U1112   135046       0            0               0
270   U1126   132830       0            0               0

In [ ]:
parking = pd.read_csv('/content/parking.csv')
parking.sample(5)

     placeID parking_lot
647   132409      street
304   132873        none
603   132571        none
169   133015        none
30    135077         yes

In [ ]:
merged = rating.merge(parking, how='left', on='placeID')

In [ ]:
merged.sample(5)

    userID  placeID  rating  food_rating  service_rating parking_lot
479  U1084   135072       2            2               2        none
528  U1052   132866       2            2               1         yes
87   U1030   135088       1            0               1      public
529  U1106   135066       2            1               2         yes
574  U1016   135052       2            2               2        none